@import './variables.scss';

@mixin margin-auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inlineFlexCenter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin size($width, $height:$width) {
  width: $width;
  height: $height;
}