@import '@scss/mixins.scss';

.sign-in-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
  gap: 50px;
  padding: 0 15px;
  @include size(100%);
  max-width: 1024px;
  margin: 0 auto;

  &--wrapper {
    @include size(100%, 100vh);
    min-width: 768px;
    min-height: 630px;
    background-color: #ffffff;
  }
}